<template>
  <Container>
    <div class="sources">
      <div class="active">
        <div
          class="source"
          v-for="source in activeSources"
          :key="source.id"
          @click="removeFilter(source)"
        >
          {{ source.name }}
        </div>
      </div>
      <div
        class="chevron-down"
        :class="{ 'chevron-down': !isSourcesFull, 'chevron-up': isSourcesFull }"
        @click="isSourcesFull = !isSourcesFull"
      ></div>
      <div
        class="source"
        v-for="source in sources"
        :key="source.id"
        @click="filterBySource(source)"
      >
        {{ source.name }}
      </div>
    </div>
    <div class="preload" v-if="isNewsLoading">
      <img src="@/assets/logo.png" alt="" class="loader" />
    </div>
    <NewsCard
      v-for="(article, key) in news"
      :key="key"
      :id="key"
      :date="article.publishedAt"
      :title="article.title"
      :image="article.urlToImage"
      :source="article.source"
      :link="article.url"
    />
  </Container>
</template>

<script>
// @ is an alias to /src
import { store } from "@/store";
import NewsCard from "@/components/NewsCard/NewsCard";
import Container from "@/components/Container";

export default {
  name: "home",
  components: { NewsCard, Container },
  data: () => {
    return {
      isSourcesFull: false
    };
  },
  methods: {
    filterBySource(source) {
      store.commit("filterBySource", source);
      store.dispatch("loadArticles");
    },
    removeFilter(source) {
      store.commit("removeSourceFromFilter", source);
      store.commit("filterBySource");
      store.dispatch("loadArticles");
    }
  },
  computed: {
    news() {
      return store.state.articles.data;
    },
    isNewsLoading() {
      return store.state.articles.isLoading;
    },
    sources() {
      let data = store.state.articles.sources;
      if (data.length <= 15 || this.isSourcesFull) {
        return data;
      } else {
        data.splice(14, store.state.articles.sources.length - 1);
        return data;
      }
    },
    activeSources() {
      return store.state.filters.sources.data;
    }
  },
  mounted() {
    store.dispatch("loadArticles");
    store.dispatch("loadSources");
  }
};
</script>

<style scoped lang="scss">
.sources {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px;

  .active {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;

    .source {
      background-color: #4444ff;
      color: #fff;
    }
  }

  .source {
    margin: 5px 5px;
    background-color: #f5f5f5;
    color: #000;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #4444ff;
      color: #fff;
    }
  }
}

.chevron-down {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 0 0 4px 0;
  transform: rotate(45deg);
  margin: 0 15px;
  cursor: pointer;
}

.chevron-up {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 0 0 4px 0;
  transform: rotate(-135deg);
  margin: 0 15px;
  cursor: pointer;
}

.ad {
  width: 20vw;
  height: 40vh;
  background-color: #d6d6d6;
  position: relative;
  border-radius: 8px;
  margin: 15px;
}

.preload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 3;

  .loader {
    animation-name: preloader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 128px;
    @media screen and (max-width: 800px){
      width: 60vw;
      height: auto;
    }
  }
}

@keyframes preloader {
  0% {
    opacity: 1;
    transform: rotate(-30deg);
  }

  50% {
    opacity: 0.5;
    transform: rotate(30deg);
  }

  100% {
    opacity: 1;
    transform: rotate(-30deg);
  }
}
</style>
