<template>
  <div class="headerWrapper">
    <img src="@/assets/logo.png" class="logo" alt="newsfy" />
    <div class="date">Today: {{ new Date().toLocaleDateString() }}</div>
    <img src="@/assets/gear.svg" class="icon" alt="settings" />
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped lang="scss">
.headerWrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 5vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 100vh #d6d6d6;
  z-index: 99999;

  .logo {
    height: 48px;
  }

  .icon {
    height: 24px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.date {
  font-size: 1.5rem;
  font-family: monospace;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: #000;
  margin: 0 15px;
}
.link-active {
  color: #6666dd;
}
</style>
