<template>
  <div>
    <div class="cardWrapper" v-if="id != 6">
      <div class="source">{{ source.name }}</div>
      <span class="date">{{ new Date(date).toLocaleString() }}</span>
      <h2 class="title">
        <a target="_blank" :href="link">{{ title }}</a>
      </h2>
      <img :src="image" alt="" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class NewsCard extends Vue {
  @Prop() private title!: string;
  @Prop() private link!: string;
  @Prop() private source!: object;
  @Prop() private image!: string;
  @Prop() private date!: string;
  @Prop() private id!: number;
}
</script>

<style scoped lang="scss">
.cardWrapper {
  width: 20vw;
  height: 40vh;
  display: flex;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 15px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 90vw;
    margin: 5px 0;
  }

  .source {
    position: absolute;
    color: #000;
    z-index: 2;
    padding: 5px;
    background-color: #fff;
    right: 15px;
    top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .date {
    position: absolute;
    color: #000;
    z-index: 2;
    padding: 5px;
    background-color: #fff;
    left: 15px;
    bottom: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .title {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    a {
      padding: 15px;
      text-decoration: none;
      color: #fff;
    }
  }

  &:hover .read {
    transition: all 0.3s;
    opacity: 1;
  }

  img {
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
  }

  .read {
    width: 100%;
    background-color: #4444ff;
    border: none;
    display: block;
    padding: 25px;
    color: #fff;
    font-weight: 600;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 -2px 15px #d6d6d6;
    opacity: 0;
  }
}
</style>
